body { background-color : Pink;
background-image : url("fond.png");
background-repeat : repeat;}

@font-face {
font-family : Little;
src : url('Little days.ttf');}

h1 { font-family : Little;
font-size : 5em;
text-align : center;
color : LightSlateGray ;
font-style : bold }

div{text-align: right ;
font-family : script;
color : SlateGray ;}

ul{display: inline-block;
margin-left:4em;}

a.button{
background-color : ActiveCaption;
border-color: violetred;
border-radius : 1.5em ;
color:PaleVioletRed;
font-weight:bold;
text-decoration:none;
font-size:1.25em;
padding:0.25em;
}

a:hover.button{color:slategray;} 

