body { background-color : Pink;
background-image : url("fond.png");
background-repeat : repeat;}

@font-face {
font-family : Little;
src : url('Little days.ttf');}

h1 { font-family : Little;
font-size : 5em;
text-align : center;
color : LightSlateGray ;
font-style : bold }

div{text-align: right ;
font-family : script;
color : SlateGray ;}

h2 { text-align : left ;
font-family : script;
color : SlateGray ;}

button:hover{background-color: lightpink;}

button { background-color : PaleVioletRed;
border-radius : 1.5em ;
transition : background-color 1s
border-color:LightSlateGray;
text-align:center;
font-size:1.2em;
;}

ul {display: inline-block;} 